// Colors
$color-primary: #283891;
$color-primary-dark-1: #5643fa;
$color-primary-dark-2: #2a41bf;
$color-primary-dark-3: #000080;
$color-primary-light-1: #2998ff;
$color-primary-light-2: #87ceeb;

$color-secondary-dark: #026a1c;
$color-secondary-dark-1: #34A853;
$color-secondary-dark-2: #55c57a;
$color-secondary-dark-3: #28b485;
$color-secondary-dark-4: #52B46B;
$color-secondary-light: #aef1bf;
$color-secondary-light-2: #7ed56f;

$color-green-yellow: greenyellow;

$color-tertiary: #FAF2D7;
$color-tertiary-dark: #ff7730;
$color-tertiary-light: #ffb900;
$color-tertiary-light-2: #F1C644;

$color-step-1: #C4CCF6;
$color-step-2: #FEC1C1;
$color-step-3: #AEF1BF;

$color-mixed: #6ecaB3;

$color-white: #fff;

$color-wheat-dark-1: #FAF2D7;
$color-wheat-light-1: #EAE9E5;

$color-grey-dark: #777;
$color-grey-dark-2: #2B2B2B;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #bcbcbc;


$color-blue-grey: #5E6278;

$color-black: #000;

$color-out-of-stock: #D2020E;

// GRID

$grid-width: 114rem;


// FONT 

$default-font-size: 1.6rem;

$font-family-1: "Inter", sans-serif;
$font-family-2: "Squada One";
$font-family-3: "Montserrat", sans-serif;

