
// Styles for the search form on the header

.search-bar {
    display: flex;
    max-width: 50rem;
    height: 6rem;
    margin: 2rem auto;
    @include clearfix;
    
    &-input {
        flex: 1;
        height: 100%;
        width: 80%;
        border: .3rem solid $color-primary;
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
        border-right: none;
        outline: none;
        font-size: 2rem;
        letter-spacing: .3rem;
        padding-left: 3rem;
        transition: all .3s;

        &::placeholder {
            color: $color-grey-light-3;
            font-family: $font-family-1;
        }

        &:focus {
            border-color: $color-secondary-light;
            font-size: 1.5rem;
        }

        &:focus + .btn--search {
            transition: all .3s;
            background-color: $color-secondary-light-2;

            &:hover {
                background-color: $color-secondary-dark;
            }
        }
    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.9rem;
    }
}