.section-sign-up {
    position: relative;
    top: 0;
    left: 0;

    .background-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        align-content: center;
        background-image: linear-gradient(
                rgba($color-white, 0.2),
                rgba($color-white, 0.2)
            ),
            url("../../img/maintenance.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .sign-up__box {
        position: absolute;
        width: 63%;
        top: 50%;
        left: 50%;
        background: rgba($color: $color-black, $alpha: 0.15);
        backdrop-filter: blur(2rem);
        border-radius: 1.5rem;
        box-shadow: 0.5rem 0.5rem 1rem 0.5rem
            rgba($color: $color-black, $alpha: 0.2);
        transform: translate(-50%, 20%);
        transition: all .3s;

        &--text {
            display: block;
            margin: auto;
            font-size: 7rem;
            text-align: center;
            padding: 5rem 0 4rem;
            transition: all 0.3s;

            &:hover {
                color: $color-primary-dark-2;
            }
        }


        .sign-up__options {
            margin: 0 auto;
            margin-bottom: 5rem;
            max-width: 80%;

            &--link {
                display: block;
                height: 8rem;
                width: 100%;
                border-radius: 50rem;
                text-align: center;
                align-content: center;
                font-size: 2rem;
                font-weight: 700;
                text-transform: capitalize;
                transition: all 0.3s;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }

            .option--sign-up {
                color: $color-white;
                background: $color-primary;
                border: 0.3rem solid $color-primary;

                &:hover {
                    background-color: rgba($color: $color-secondary-dark, $alpha: .5);;
                    border-color: $color-white;
                }
            }
            
            .option--log-in {
                color: $color-primary;
                border: 0.3rem solid $color-primary;
                
                &:hover {
                    background-color: rgba($color: $color-secondary-dark, $alpha: .5);
                    border-color: $color-white;
                    color: $color-white;
                }
            }
        }

        .sign-up__footer {
            max-width: 53rem;
            margin: 0 auto;
            padding: 0 2rem 6rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;

            span {
                font-weight: 500;
                color: $color-primary;
                cursor: pointer;
                padding: 0 0.3rem;
                transition: all 0.3s;

                &:hover {
                    color: $color-mixed;
                    background-color: $color-grey-dark-2;
                }
            }
        }
    }

    .popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: scale(.5);
        transition: all .3s;
        z-index: 5;
    }

    .show-popup {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all .3s;
    }

    .hide {
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: scale(1);
    }

    .sign-up__popup {
        align-content: center;
        width: 63%;
        background: rgba($color: $color-black, $alpha: 0.15);
        backdrop-filter: blur(2rem);
        border-radius: 1.5rem;
        box-shadow: 0.5rem 0.5rem 1rem 0.5rem
            rgba($color: $color-black, $alpha: 0.2);
        margin: 10rem auto;
        z-index: 10;

        .sign-in__options {
            margin: 0 auto;
            margin-bottom: 5rem;
            max-width: 80%;
        }

        .form__title {
            margin-bottom: 10rem;
            font-size: 3rem;
            text-align: center;
        }

        .sign-up__popup--footer {
            max-width: 53rem;
            margin: 0 auto;
            padding: 0 2rem 6rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;

            span {
                font-weight: 500;
                color: $color-primary;
                cursor: pointer;
                padding: 0 0.3rem;
                transition: all 0.3s;
                
                &:hover {
                    color: $color-mixed;
                    background-color: $color-grey-dark-2;
                }
            }
        }
        
        .log-in__link {
            padding: 3rem 0 6rem;
            text-align: center;
            font-size: 2rem;
            
            span {
                text-transform: capitalize;
                font-weight: 900;
                color: $color-primary;
                padding: 0 0.3rem;
                transition: all .3s;

                &:hover {
                    color: $color-mixed;
                    background-color: $color-grey-dark-2;
                }
            }
        }

        .log-in__span,
        .sign-up__span {
            cursor: pointer;
        }
    }
}
