
.section-sign-up {
    align-content: center;
    background-image: linear-gradient(
            rgba($color-white, 0.2),
            rgba($color-white, 0.2)
        ),
        url("../../img/maintenance.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    .sign-up__box {
        max-width: 95rem;
        background: rgba($color: $color-black, $alpha: 0.3);
        backdrop-filter: blur(2rem);
        border-radius: 1.5rem;
        box-shadow: .5rem .5rem 1rem .5rem rgba($color: $color-black, $alpha: 0.2);
        margin: 0 auto;

        &--text {
            margin: auto;
            font-size: 7rem;
            text-align: center;
            padding: 5rem 0 4rem;
        }

        .sign-up__options {
            margin: 0 auto;
            margin-bottom: 5rem;
            max-width: 80%;
            
            &--link {
                display: block;
                height: 8rem;
                border-radius: 50rem;
                text-align: center;
                align-content: center;
                font-size: 2rem;
                font-weight: 700;
                text-transform: capitalize;
                transition: all .3s;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }

            .option--sign-up {
                color: $color-white;
                background: $color-primary;
                border: .3rem solid $color-primary;

                &:hover {
                    color: $color-primary;
                    background: none;
                }
            }

            .option--log-in {
                color: $color-primary;
                border: .3rem solid $color-primary;

                &:hover {
                    color: $color-white;
                    background: $color-primary;
                }
            }
        }

        .sign-up__footer {
            width: 53rem;
            margin: 0 auto;
            padding: 0 0 6rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;

            span {
                font-weight: 500;
                color: $color-primary;
                cursor: pointer;
                padding: 0 .3rem;
                transition: all .3s;

                &:hover {
                    color: $color-mixed;
                    background-color: $color-grey-dark-2;
                }
            }
        }
    }
}
