.section-footer__grid {

    &--discover-links, &--company-links {
        padding-bottom: 0.5rem;
    }

    &--download {

        &-text {
            text-align: left;
            font-weight: 600;
        }

        &-links {
            display: block;
            border: .3rem solid $color-white;
            max-width: 22rem;
            margin-top: 2rem;
            padding: 1rem .5rem;
            background-color: $color-black;
            border-radius: 2rem;
            transition: all .3s;

            .app__link {
                display: flex;
                column-gap: 2rem;
                text-align: left;

                &--logo {
                    align-self: center;
                }

                &--text {
                    font-size: 1rem;

                    & > span {
                        display: block;
                        font-size: 2rem;
                        padding-top: .5rem;
                    }
                }

            }
            &:hover {
                transform: scale(1.05);
                box-shadow: 1rem 1rem 1rem .2rem rgba($color: $color-black, $alpha: 0.5);
            }
        }
    }
    
    .heading-footer {
        font-weight: 300;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }
    
    .link {
        display: inline-block;
        width: 100%;
        text-align: left;
        font-weight: 600;
        transition: all .3s;

        &:hover {
            color: $color-secondary-light-2;
        }
    }
}